
<% provide(:title, '投稿一覧') %>
<div class="container">
  <h1>投稿一覧</h1>
  <%= will_paginate%>
  <ul class="posts">
    <%= render @posts %>
  </ul>
  <%= will_paginate%>
</div>
<hr>
<%= link_to "新規投稿ページへ", new_post_path %>